table{
    border-collapse:collapse;
    border:1px navy;
}

th, td{
    border:1px solid black;
}

.dag123{
    table-layout:auto;
    width:100%;
}

.dag45{
    table-layout:auto;
    width:67%;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

td, tr
{
    text-align: left;

}

checkboxes
{
    text-align: left;
}

.split{
    height:100%;
    /* width:33.3333333%;
    width: calc(100% /3); */
    position:fixed;
    top:82.5px;
    z-index:-1;
}

.links{
    background-color:red;
    left:0;
    width:25%;

}

.midden{
    background-color:green;
    left:25%;
    width:37.5%;
}

.rechts{
    background-color:blue;
    right:0;
    width:37.5%;
}

.spacer{
    height:82.5px;
    width:100%;
    top:0;
    left:0;
}
/* css slider 2 */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.error {
    color: red
}

