table{
    border-collapse:collapse;
    border:1px navy;
}

th, td{
    border:1px solid black;
}

.custom {
    background-color: #eadefa;
}

.dag123{
    table-layout:auto;
    width:100%;
}

.dag45{
    table-layout:auto;
    width:67%;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #eadefa;
    color: #537fbe;
}

/* hex for kleur logo */
nav {
    background-color:#EADEFA;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;
    font-weight: bold;

}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

td, tr
{
    text-align: left;

}

checkboxes
{
    text-align: left;
}

.split{
    height:100%;
    position:fixed;
    top:82.5px;
    z-index:-1;
}

.links{
    background-color:red;
    left:0;
    width:25%;

}

.midden{
    background-color:green;
    left:25%;
    width:37.5%;
}

.rechts{
    background-color:blue;
    right:0;
    width:37.5%;
}

.spacer{
    height:82.5px;
    width:100%;
    top:0;
    left:0;
}
/* css slider 2 */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.error {
    color: red
}

body {
  background-image: url("https://www.thespruceeats.com/thmb/nn_bwtTNkqXE7qIDyPyIZoHjg1E=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/freshvegetablesAlexRaths-4c1ea186a88e4fd7b95283eee614600c.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}


div align {
    position: absolute;
    right: 10px;
}

body2 {
    position: absolute;
    right: 10%;
    bottom: -1%;
}


span.b {
  display: inline-block;
  float:left;
  width: 33%;
  margin:5%;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}