{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<body class = "home">
  <link href="/static/style.css" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <div class ="grid">

  <div class = "title">
    <span style="text-align:left;">
    <div class ="row">
      <div class = "col-sm-2 col-md-5">
        <h4><b><font color = "white">Welcome to Mealplanner!</font></b></h4>
      </div>
    </div>
  </div>
    <p class="lead">

  <div class = "header">
    <div class ="row">
      <div class = "col-sm-3 col-md-6">
        <font color = "white">A website that compiles an entire weekly menu for you. A busy week ahead? With a few clicks, five dishes will appear on your screen that suit your taste and budget. The method of preparation and the ingredients are given with each dish. So all you have to do is get the groceries. It is an option to make a personal page where you can save your preferences and favorite dishes from the weekly menu. Personal and simple!
      </div>
    </div>
  </div>
    </p>
    <form action="/home" method="post">

        <checkboxes>
          <h5>
            Allergies:
          </h5>
          <div class="checkbox1" name="nuts">
            <label><input type="checkbox" name="tree nut" value="true"> Tree nuts</label>
          </div>
          <div class="checkbox1">
            <label><input type="checkbox" name="peanuts" value="true"> Peanut</label>
          </div>
          <div class="checkbox1">
            <label><input type="checkbox" name="eggs" value="true"> Eggs</label>
          </div>
          <div class="checkbox1">
            <label><input type="checkbox" name="soya" value="true"> Soya</label>
          </div>
          <div class="checkbox1">
            <label><input type="checkbox" name="wheat" value="true"> Wheat</label>
          </div>
          <div class="checkbox1">
            <label><input type="checkbox" name="fish" value="true"> Fish, Shellfish and Crustaceans</label>
          </div>
          <div class="checkbox1">
            <label><input type="checkbox" name="milk" value="true"> Cow's milk</label>
          </div>
        </checkboxes>
        </font>

        </tr>


        <font color = "white">
        <checkboxes>
          <p><h5>
            Diet:
          </h5></p>

        <select>
            {% for diet in diets %}
            <option value="{{diet}}" name="diet">{{diet}} </option>
            {% endfor %}
        </select>

        <!--
          <div class="checkbox1">
            <label><input type="checkbox" name="no diet" value="true"> No diet</label>
          </div>
          <div class="checkbox1">
            <label><input type="checkbox" name="pescotarian" value="true"> Pescotarian</label>
          </div>
          <div class="checkbox1">
            <label><input type="checkbox" name="vegan" value="true"> Vegan</label>
          </div>
          <div class="checkbox1">
            <label><input type="checkbox" name= "vegetarian" value="true"> Vegetarian</label>
          </div> -->
         </checkboxes>

        </font>


        <font color = "white">
        <!--
          <h5>
            Budget
          </h5>


          <input type="range" min="20" max="100" value="50" class="slider" style="float:left;" name="value" id="myRange"><br>
          <p>Value:€ <span id="demo"></span></p>
        </div>
        </font>

        <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
        }
        </script>
        -->

        <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        </form>
        </span>


  <form class ="box2" action="/register" method="post">
      <p class="big"><h2>Register Now!</h2><br>
      <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"><br>
      <input class="form-control" name="password" placeholder="Password" type="password"><br>
      <input class="form-control" name="confirmation" placeholder="Repeat Password" type="password"><br>
      <button class="btn btn-primary" type="submit">Register</button><br>
      </p>
</body>

{% endblock %}