{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

    <form action="/homepage" method="post">
          <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Repeat_Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

<h1><font size = "10"></font><b>Welcome by Mealplanner!</b></font></h1>
<h2>
A website that compiles an entire weekly menu for you. A busy week ahead? With a few clicks, five dishes will appear on your screen that suit your taste and budget. The method of preparation and the ingredients are given with each dish. So all you have to do is get the groceries. With a personal page you can save your preferences and favorite dishes from the weekly menu. Personal and simple!
</h2>

<checkboxes>
  <h3>
    Allergies:
  </h3>
  <div class="checkbox">
    <label><input type="checkbox"> Nuts</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Peanuts</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Eggs</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Soya</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Wheat</label>
  </div>
  <div class="check">
    <label><input type="checkbox"> Fish, Shellfish and Crustaceans</label>
    <label><input type="checkbox"> Cow's milk</label>
  </div>
</checkboxes>

  </tr>

<checkboxes>
  <h4>
    Kitchen:
  </h4>
  <div class="checkbox">
    <label><input type="checkbox"> Italian</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Mexican</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Dutch</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Asian</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Vegetarian</label>
  </div>
 </checkboxes>

  <h5>
    Budget
  </h5>
  Slider 1 (html)
  <form oninput="x.value=parseInt(a.value)+parseInt(b.value)">0
<input type="range" id="a" value="50">100
  +<input type="number" id="b" value="50">
  =<output name="x" for="a b"></output>

  slider 2 (html+js+css)
  <div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  <p>Value: <span id="demo"></span></p>
</div>

<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>
  <!-- <div id="SPlaceHolder_0" style="position:relative;">
<table border="0" cellspacing="0" cellpadding="0"><tr>
  <td width="200" class="SliderBar">
    <div id="SButtonContainer_0" style="position:absolute; width:200px;
      height:18px; z-index:1; left: 0px; top: 0px;">
    <img src="srule_b.gif" id="SliderButton_0" alt="" border="0"
      class="SliderButton"></div></td>
  <td width="10" class="SliderBar">&nbsp;</td>
</tr></table></div> -->

<div id="SPlaceHolder_1" style="position:relative;">
</div>



{% endblock %}