{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<span style="text-align:left;">
<h4><b>Welcome to Mealplanner!</b></h4>
<p class="lead">
A website that compiles an entire weekly menu for you. A busy week ahead? With a few clicks, five dishes will appear on your screen that suit your taste and budget. The method of preparation and the ingredients are given with each dish. So all you have to do is get the groceries. With a personal page you can save your preferences and favorite dishes from the weekly menu. Personal and simple!
</p>
<form action="/menu" method="post">
<checkboxes>
  <h5>
    Allergies:
  </h5>
  <div class="checkbox">
    <label><input type="checkbox" name="nuts"> Nuts</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="peanuts"> Peanuts</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="eggs"> Eggs</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="soya"> Soya</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="wheat"> Wheat</label>
  </div>
  <div class="check">
    <label><input type="checkbox" name="fish"> Fish, Shellfish and Crustaceans</label>
  </div>
  <div class="check">
    <label><input type="checkbox" name="milk"> Cow's milk</label>
  </div>
</checkboxes>

  </tr>

<checkboxes>
  <p><h5>
    Kitchen:
  </h5></p>
  <div class="checkbox">
    <label><input id="Italien" type="checkbox"> Italian</label>
  </div>
  <div class="checkbox">
    <label><input id="Mexican" type="checkbox"> Mexican</label>
  </div>
  <div class="checkbox">
    <label><input id="Dutch" type="checkbox"> Dutch</label>
  </div>
  <div class="checkbox">
    <label><input id="Asian" type="checkbox"> Asian</label>
  </div>
  <div class="checkbox">
    <label><input id="Vegetarian" type="checkbox"> Vegetarian</label>
  </div>
 </checkboxes>

  <h5>
    Budget
  </h5>

  <input type="range" min="1" max="100" value="50" class="slider" style="float:left;" id="myRange"><br>
  <p>Value: <span id="demo"></span></p>
</div>

<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>


<div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
</div>
</form>
</span>


{% endblock %}