{% extends "layout.html" %}

{% block title %}
    Weekly menu
{% endblock %}

{% block main %}

<body class="menu">
<link href="/static/style.css" rel="stylesheet">

    <h1><b><font color="white">
        Week menu
        </font></b>
    </h1>
    {% for meal in meals %}
    <div class="container">
            <span class="b" >
        <a href="/recipe?id={{meal['id']}}" target="_blank">
                <main>
                    <img src="{{meal["image"]}}">
                    {{meal['title']}}
                </main>


                <footer>
        </a>
                <div class="a">

                    <form action="/reroll" method="post">
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" type="submit" name="reroll" value="{{meal['id']}}">&#8634;</button>
                        </div>
                    </form>
                </div>
                <div class="a">
                    <button type="button" class="btn btn-primary btn-sm" style="background-color:red;" onclick="share()">Share</button>
                        <script>
                        function share() {
                            var id = "/recipe?id={{meal['id']}}"
                        alert(window.location.hostname + id );
                        }
                        </script>
                </div>
            </span>
    </div>
    {% endfor %}
    <div>
</body>


{% endblock %}