{% extends "layout.html" %}

{% block title %}
    Profiel
{% endblock %}

{% block main %}
    <div class="split links">
        <div class="centered">
            <img src="/static/generic.jpg">
            <!--  Op klik/hover verander img-->
        </div>
        <div class="preferences">
            <!-- geeft huidige voorkeuren weer -->
        </div>
        <button> Change preferences</button>
    </div>
    <div class="split midden">
        <div class="centered">
            <div class="recepten"></div>
        </div>
    </div>
    <div class="split rechts">
        <div class="centered">
            <div class="recensies"></div>
        </div>
    </div>

<checkboxes>
  <h4>
    Allergies:
  </h4>
  <div class="checkbox">
    <label><input type="checkbox"> Nuts</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Peanuts</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Eggs</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Soya</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Wheat</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Fish, Shellfish and Crustaceans</label>
    </div>
    <div class="checkbox">
    <label><input type="checkbox"> Cow's milk</label>
  </div>
</checkboxes>


{% endblock %}