{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

<body class = "profile">
  <link href="/static/style.css" rel="stylesheet">

      <div class="split links">
          <div class="centered">
              <img src="/static/generic.jpg">
              <!--  Op klik/hover verander img-->
          </div>
          <div class="preferences">
              <!-- geeft huidige voorkeuren weer -->
          </div>
          <button> Change preferences</button>
      </div>
      <div class="split midden">
          <div class="centered">
              <div class="recepten"></div>
          </div>
      </div>
      <div class="split rechts">
          <div class="centered">
              <div class="recensies"></div>
          </div>
      </div>

    <div class="saverec">
      <h1><center>Saved Recipes</center></h1>
    </div>

    <div class="review">
      <h1>Reviews</h1>
    </div>

      <checkboxes>
    <h6>
      Allergies:
    </h6>
    <div class="checkbox2">
      <label><input type="checkbox"> Nuts</label>
    </div>
    <div class="checkbox2">
      <label><input type="checkbox"> Peanuts</label>
    </div>
    <div class="checkbox2">
      <label><input type="checkbox"> Eggs</label>
    </div>
    <div class="checkbox2">
      <label><input type="checkbox"> Soya</label>
    </div>
    <div class="checkbox2">
      <label><input type="checkbox"> Wheat</label>
    </div>
    <div class="checkbox2">
      <label><input type="checkbox"> Fish, Shellfish and Crustaceans</label>
      </div>
      <div class="checkbox2">
      <label><input type="checkbox"> Cow's milk</label>
    </div>
  </checkboxes>


  <checkboxes>
    <p><h6>
      Diet:
    </h6></p>
    <div class="checkbox2">
      <label><input type="checkbox" name="no diet" value="true"> No diet</label>
    </div>
    <div class="checkbox2">
      <label><input type="checkbox" name="pescotarian" value="true"> Pescotarian</label>
    </div>
    <div class="checkbox2">
      <label><input type="checkbox" name="vegan" value="true"> Vegan</label>
    </div>
    <div class="checkbox2">
      <label><input type="checkbox" name= "vegetarian" value="true"> Vegetarian</label>
    </div>
   </checkboxes>
  </font>
</body>




{% endblock %}