{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<link href="/static/style.css" rel="stylesheet">

<body>
<div class="jumbotron" style="background-color:rgba(46,139,87,0.8)">
        <img src="{{data[0].image}}" alt="image recipe"> <br>
        <font color="white">
        <h4>
            {{data[0].title}} <br>
            <button type="button" class="btn btn-primary btn-sm" onclick="share()" data-toggle="tooltip" data-placement="right" title="Share">
                <img src="/static/share.png" alt="share" height=16px width=16px > </button>

            {% if user_id in session %}
            <button type="button" class="btn btn-primary btn-sm" name="idr" id="1" onclick="fav(this.id)">
            {% if favorite == True %}
            Unfavorite
            {% else %}
            Favorite
            {% endif %}
            </button>
            {% endif %}

        </h4>
        <br>
        Ingredients: <br>
        <ul>
        {% for item in recipe.ingredients %}
        <li> {{ item.amount.metric.value }} {{item.amount.metric.unit}}  {{ item.name }}</li>
        {% endfor %}
        </ul>
        <br>
        <ol>
        {% for step in recipe.steps %}
        <li>
        {{ step.step }}
        </li>
        {% endfor %}
        </ol>
        </font>

    <script>
        function share() {
            alert(window.location.href);
        }
        function fav(idr){
            url="/favorite";
            $.post(url, idr);
            if (document.getElementById(idr).innerHTML == Favorite){
                document.getElementById(idr).innerHTML = Unfavorite
            }
            else{
                document.getElementById(idr).innerHTML = Favorite
            }
        }
    </script>
</div>
</body>
{% endblock %}