{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <img src="{{data[0].image}}" alt="image recipe"> <br>
    <h4>
        {{data[0].title}}
    </h4>
    <br>
    Ingredients: <br>
    <ul>
    {% for item in recipe.ingredients %}
    <li> {{ item.amount.metric.value }} {{item.amount.metric.unit}}  {{ item.name }}</li>
    {% endfor %}
    </ul>
    <br>
    <ol>
    {% for step in recipe.steps %}
    <li>
    {{ step.step }}
    </li>
    {% endfor %}
    </ol>
{% endblock %}