{% extends "layout.html" %}

{% block title %}
    Weekmenu
{% endblock %}

{% block main %}
    <form action="/register" method="post" name="form">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="repeat password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}